@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/themes/styles.css";


body {
  margin: 0;
  overscroll-behavior: none;
}

/* This targets the Radix UI Themes Tabs.Trigger underline */
.rt-TabsTrigger[data-state='active'] {
  box-shadow: none !important;
}

